/* change the background color */
.navbar {
	background-color: #3182CE !important;
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
	color: #ffffff !important;
}
/* change the link color */
.navbar .navbar-nav .nav-link {
	color: #ffffff !important;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
	color: #ffffff !important;
}

.rule-text {
	margin: 10px;
    white-space: nowrap;
}

.block-button:hover {
	color: white !important;
}


.invalid {
	border: 1px solid red;
}

.madlib {
	background-color: lightgray;
	border-radius: 6%;
	padding: 6px;
	margin: 2px;
}

.madlib.static {
	background-color: transparent;
	padding: 0 0 4px 6px;
	border-bottom: 2px solid gray;
}

.madlib.invalid {
	background-color: palevioletred;
}

.no-caret .dropdown-toggle:after {
    display: none;
}